<h2 id="title">Your conversations</h2>


<ul>
    <% @chats.each do |chat| %>
    <div class="chats">
      <%= chat.with(current_user).full_name %>
      <%= link_to 'View conversation', chat_path(chat) %>
    </div>
    <% end %>
</ul>
