<h1>Dashboard::Dashboard#index</h1>
<p>Find me in app/views/dashboard/dashboard/index.html.erb</p>


<% if client_signed_in? %>
	<p>I'm a Client</p>
<% end %>

<% if developer_signed_in? %>
	<p>I'm a Developer</p>
<% end %>
