<div class="main-page">
  <div class="row">
    <div class="small-12 medium-12 large-12 columns main-page-projects">
      <a href="/projects">
        <div class="panel callout">
          <p>
              Check out current available projects!
          </p>
        </div>
    </a>
    </div>
  </div>
  <div class="row">
    <div class="large-12 medium-10 small-5 columns">
      <div class="homes-carousel">
        <ul class="example-orbit" data-orbit>
          <li>
            <img src="https://s3.amazonaws.com/devs-for-non-profit-production/uploads/slide_1.jpeg" alt="slide 1" />
            <div class="orbit-caption">
              Our website is helping non-profit oraginizations to find web developers.
            </div>
          </li>
          <li class="active">
            <img src="https://s3.amazonaws.com/devs-for-non-profit-production/uploads/slide_2.jpeg" alt="slide 2" />
            <div class="orbit-caption">
              We are helping people to help others.
            </div>
          </li>
          <li>
            <img src="https://s3.amazonaws.com/devs-for-non-profit-production/uploads/slide_3.jpeg" alt="slide 3" />
            <div class="orbit-caption">
              Care about others.
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="homes-bottom">
    <div class="row">
      <div class="small-12 medium-6 large-6 columns">
        <div class="panel callout">
          <h5>To Developers.</h5>
          <p>
            You can help non-profit oraginizations to move their services forward and endorse your work for the community.
            We are all responsible for others around us. By start working on the projects on our website you will deliver
            new technologies to people who need help and support. Hundreds of developers already helping their communities by
            working here. You can do it here too.
          </p>
        </div>
      </div>
      <div class="small-12 medium-6 large-6 columns">
        <div class="panel callout">
          <h5>To Non-Profit Organization.</h5>
          <p>
            We are all appreciated to people who working in the non-profit organizations. This is hard work.
            Here you can find developers who can bring attention to your volunteers, philanthropists and donors.
            By making your website more custom you can reach more customers and help more people. Hundreds of developers
            have already help others by using modern technologies.
          </p>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
