<div class="main-page">
  <div class="row">
    <div class="large-12 medium-10 small-5 columns">
      <div class="homes-carousel">
        <ul class="example-orbit" data-orbit>
          <li>
            <img src="http://placekitten.com/800/400" alt="slide 1" />
            <div class="orbit-caption">
              Our website is helping non-profit oraginizations to find web developers.
            </div>
          </li>
          <li class="active">
            <img src="http://www.placepuppy.net/800/400" alt="slide 2" />
            <div class="orbit-caption">
              We are helping people to help others.
            </div>
          </li>
          <li>
            <img src="http://placegoat.com/800/400" alt="slide 3" />
            <div class="orbit-caption">
              Care about others.
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="homes-bottom">

  </div>
</div>
