// Hide controls on small
$orbit-nav-hide-for-small: true !default;
$orbit-bullet-hide-for-small: true !default;
$orbit-timer-hide-for-small: true !default;

.top-bar{
  background: #1B4F72;
}

.top-bar-section li:not(.has-form) a:not(.button){
  background: #1B4F72;
}

body{
  background-color: #FFFAFA;
}

.container{
  width: 800px;
  margin: auto;
  height: 100%;
  margin: 35px auto  35px auto;

}

.main-page{
  font-size: 50px;
  text-align: center;
}

.profile-photo{
  width: 250px;
  height: auto;
}

.project-tile{
  border: 2px solid #696969;
  margin-bottom: 15px;
  margin-left: 0;
  background-color: #87afc7;
  padding: 15px;
}

.dropdown{
  width: 200px;
}

.photo-tile{
  position: relative;
  clip: rect(0px,100px,100px,0px);
}
