@import 'extra';
// Hide controls on small
$orbit-nav-hide-for-small: true !default;
$orbit-bullet-hide-for-small: true !default;
$orbit-timer-hide-for-small: true !default;

.top-bar{
  background: $navyblue;
}

.top-bar-section li:not(.has-form) a:not(.button){
  background: $navyblue;
}

body{
  background-color: $backgroundcolor;
}

.container{
  width: 800px;
  margin: auto;
  height: 100%;
  margin: 35px auto  35px auto;

}

.main-page{
  font-size: 50px;
  text-align: center;
  width: 100%;
}

.profile-photo{
  width: 250px;
  height: auto;
}

.project-tile, .chats{
  border: 2px solid $borders;
  margin-bottom: 15px;
  background-color: $tilebackground;
  padding: 15px;
  font-size: 1.2rem;
  color: $whitefont;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
}

.dropdown{
  width: 200px;
}

.photo-tile{
  position: relative;
  clip: rect(0px,100px,100px,0px);
}

.orbin-caption{
  font-size: 2rem;
}

.log-in{
  border: 2px solid $borders;
  padding: 20px 20px 20px 20px;
  position: relative;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

div.main-page-projects :hover{
  color: white;
  background-color: $tilebackground;
}

.main-page-projects{
  font-size: 25px;
}

#my-message{
  text-align: right;
}

.button:active {
  transform: translateY(4px);
}

.button:hover {
  background-color: $navyblue;
}

.button {
  background-color: $navyblue;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 15px;
}

input.button{
  border-radius: 0;
}

h2#title {
  text-align: center;
}

#note {
    position: relative;
    margin-bottom: 15px;
    top: 0;
    left: 0;
    right: 0;
    background: $note;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

div.charts{
  color: $whitefont;
}

.edit-message{
  background-color: lightgreen;
}
